version: '3.9'

services:
  db:
    image: mysql:8.0.33
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: medical
    ports:
      - "3306:3306"
    volumes:
      - mysql_dev:/var/lib/mysql

volumes:
  mysql_dev: